@import 'reset.less';
//@import 'fonts.less';
@import 'slider.less';

@siteMaxWidth: 1100px;
@tabletMaxWidth: 979;
@mobileMaxWidth: 750;
@tabletMinWidth: (@mobileMaxWidth + 1);
@desktopMinWidth: (@tabletMaxWidth + 1);
@mobile: ~"(max-width: @{mobileMaxWidth}px)";
@tablet: ~"(min-width: @{tabletMinWidth}px) and (max-width: @{tabletMaxWidth}px)";
@mobile-and-tablet: ~"(max-width: @{tabletMaxWidth}px)";
@tablet-and-desktop: ~"(min-width: @{tabletMinWidth}px)";
@desktop: ~"(min-width: @{desktopMinWidth}px)";
@bodyBackground: #fdfdfd; //eee9e2
@naviBackground: rgba(99, 99, 99, 0.50);
@languagesNaviBackground: rgba(99, 99, 99, 1);
@footerBackground: #f5f5f5;
@bodyTextColor: #1e1e1e;
@darkRed: #52251f;
@lightRed: #B72E1C;
@priceColor: #9E8A68;

@headerColor: #1e1e1e;
@textColor: rgba(0, 0, 0, 0.60);
@inverseTextColor: rgba(255, 255, 255, 0.70);
@fadedTextColor: rgba(0, 0, 0, 0.50);
@primaryColor: #916038;
@secondaryColor: #ffb353;
@darkBg: #212121;

@bodyFont: 'Raleway', sans-serif;
@headerFont: 'Lato', sans-serif;

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: @bodyBackground;
}
body {
  font-family: @bodyFont;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: @textColor;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.4px;
}

a, a:hover {
  color: @primaryColor;
  text-decoration: none;
  transition: color 0.25s;
}

p {
  margin: 30px 0;
}

strong {
  font-weight: 600;
  color: #1e1e1e;
}

em {
  font-style: italic;
}

h1,h2,h3,h4 {
  color: @headerColor;
  font-family: @headerFont;
  letter-spacing: 1px;
}
@baseHeaderSize: 32px;
h1 {
  font-size: @baseHeaderSize;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}
h2 {
  font-size: @baseHeaderSize - 4px;
  font-weight: 600;
}
h3 {
  font-size: @baseHeaderSize - 8px;
}
h4 {
  font-size: @baseHeaderSize - 12px;
  font-weight: 600;
  color: @primaryColor;
}
.main-navigation {
  @navigationHeight: 70px;
  font-family: @bodyFont;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1111;
  background: @naviBackground;
  height: @navigationHeight;

  > div {
    height: 100%;
    padding: 10px;
    margin: auto;
    position: relative;
    max-width: @siteMaxWidth;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 40px;
    height: 40px;
    flex: 1 0 auto;
    img {
      height: 100%;
    }

    @media @mobile {
      height: 30px;
      margin-right: 10px;
    }
  }
}

.hours {
  .row {
    display: flex;
    margin: 10px 0;
  }
  .title {
    flex: 0 0 auto;
    width: 80px;
  }
}

.top-address {
  @media @tablet-and-desktop {
    margin-top: 60px;
  }
  .address {
    width: 200px;
  }
}
.contact-info {
  h4 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 30px 0 10px;
  }
}

ul.navigation,  .languages{

  a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.25s;
    &:hover {
      color: @secondaryColor;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
    }
  }
}

.navigation-desktop ul.navigation {
  flex: 0 1 auto;
  li {
    display: inline-block;
  }
}

.languages-desktop {
  position: absolute;
  right: 0;
  top: 0px;
}

.languages {
  padding: 12px 5px 10px 5px;
  @item-height: 45px;
  transition: height 200ms;
  height: @item-height+20px;
  overflow: hidden;
  font-size: 16px;

  &.open {
    height: @item-height*3+20px;
    background: @languagesNaviBackground;
    .icon-arrow {
      transform: rotate(180deg);
    }
  }

  li {

    a {
      padding: 5px 10px;
      height: @item-height;
      display: flex;
      align-items: center;
       .icon-arrow {
        margin-left: 5px;
        transition: transform 0.25s;
      }
    }

  }
}

@mobileNaviBreakpoint: 950px;
@mobileNaviBreakpointMaxWidth: (@mobileNaviBreakpoint - 1px);
.main-navigation {
  @media @tablet {
    .logo {
      height: 35px;
      margin-right: 30px;
    }
  }
}

.navigation-desktop, .languages-desktop {
  @media (max-width: ~"@{mobileNaviBreakpointMaxWidth}") {
    display: none;
  }
}

.navigation-desktop {
  @media (min-width: ~"@{mobileNaviBreakpoint}") and (max-width: 1230px) {
    ul.navigation {
      margin-right: 80px;
    }
  }

  @media (max-width: 1200px) {
    ul.navigation a {
      padding: 10px 10px;
    }
  }
}

.navigation-mobile {
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: ~"@{mobileNaviBreakpoint}") {
    display: none;
  }

  &.open {
    > .hamburger {
      opacity: 0;
    }
    .navigation-drawer .hamburger {
      opacity: 1;
    }
    .navigation-drawer {
      right: 0px;
      box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.43);
    }
  }

  .navigation {
    margin-top: 70px;
  }

  .navigation a {
    text-align: right;
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
  }

  .hamburger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FAFAFA;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    transition: opacity 200ms, color 200ms;
    opacity: 1;
    &:hover {
      color: @secondaryColor;
    }
    i {
      font-size: 32px;
    }
  }

  .navigation-drawer {
    @drawerWidth: 260px;
    width: 0px;
    background: #060606;
    position: fixed;
    top: 00px;
    bottom: 0;
    right: -@drawerWidth;
    width: @drawerWidth;
    z-index: 111111111;
    height: 100%;
    transition: right 200ms;

    .hamburger {
      opacity: 0;
    }

    .languages-mobile  {
      margin-top: 60px;
      text-align: right;
      li {
        display: inline-block;
        a {
          text-transform: uppercase;
          margin-left: 10px;
          padding: 15px;
          color: #808080;
        }
      }
    }
  }
}

.reserve-table-button {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -100px;
  top: 10px;
  padding: 20px 30px;
  width: 200px;
  text-align: center;
  color: #fafafa;
  background: #7c544a;
  border-radius: 50px;
  font-size: 20px;
  &:hover {
    color: @secondaryColor;
  }
}
.reserve-table-container {
  .main-content {
    padding: 10px 0 20px 0;
    @media @mobile {
      padding-bottom: 20px;
    }
  }
}

.reserve-table {
  position: relative;
  overflow: hidden;
  background: @bodyBackground;
  margin-top: -60px;
  @media @tablet-and-desktop {
    height: 610px;
    margin-bottom: 20px;
  }
  transition: height 500ms, margin-bottom 500ms;

  &.closed {
    height: 0;
    margin-bottom: 0px;
  }

  .close-reserve-table {
    padding: 5px;
    @media @tablet-and-desktop {
      margin: 20px;
    }
    @media @mobile {
      margin: 20px 10px;
    }

    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 30px;
    color: #988A71;
    transition: color 200ms;
    &:hover {
      color: @secondaryColor;
    }
  }
  .content {
    border: 2px solid @textColor;

    > div {
      display: flex;
    }

    @media @tablet-and-desktop {
      padding: 10px 30px 30px 30px;

      h2 {
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .tableonline {
        flex: 0 0 auto;
        margin-right: 40px;
        margin-top: -20px;
      }
    }
    @media @mobile {
      padding: 30px 10px;
      > div {
        flex-wrap: wrap;
      }
      .info {
        order: 1;
        padding: 0 10px;
      }
      .tableonline {
        margin-top: 20px;
        order: 2;
        margin-left: -10px;
      }
    }

  }
}

.hero-height() {
  @media @desktop {
    height: 700px;
  }

  @media @tablet {
    height: 500px;
  }

  @media @mobile {
    height: 340px;
  }
}
.hero {
  .hero-height();
  overflow: hidden;

  width: 100%;
  position: relative;
}

.main-content {
  max-width: @siteMaxWidth;
  margin: 0 auto;
  padding: 40px 20px;

  @media @mobile {
    padding: 30px 10px;
  }
}

.footer {
  font-size: 15px;
  padding-bottom: 20px;
  background: @darkBg;
  color: @inverseTextColor;
  a {
    color: @inverseTextColor;
  }
  .tel-info {
    color: @inverseTextColor;
    display: block;
  }
  p {
    margin: 10px 0;
  }

  .photo-credit {
    color: rgba(255, 255, 255, 0.50);
  }

  @media @tablet-and-desktop {
    .content {
      max-width: @siteMaxWidth;
      margin: 0 auto;
      padding: 40px 20px;
      display: flex;
    }

    .left {
      flex: 0 0 auto;
    }
    .right {
      flex: 1 1 auto;
      margin-left: 40px;
    }
  }

  .hours {
    margin: auto;
    width: 200px;
  }

  #map {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border: 2px solid #000000;
  }
  .photo-credit {
    text-align: center;
  }

  @media @mobile {
    .left {
      padding-top: 30px;
    }
    .info, .address, h4, p {
      text-align: center;
    }

    .info {
      margin-bottom: 30px;
    }
  }
}

.carousel {
  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    li {
      display: inline-block;
      margin: 0 15px;
    }
    button {
      font-size: 0;
      height: 17px;
      width: 17px;
      display: block;
      padding: 0;
      background: #a7a7a7;
      border: none;
      border-radius: 10px;
      opacity: 0.8;
      cursor: pointer;
      transition: background 0.25s;
      padding: 0px;
      border: 2px solid #fafafa;
      &:hover {
        background: #1e1e1e;
      }
      &:focus {
        outline: 0;
      }
    }
    .slick-active button {
      background: #1e1e1e;
    }
  }
  .slick-arrow {
    z-index: 111;
    position: absolute;
    bottom: 0;
    top: 0;
    opacity: 0.7;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: opacity 0.25s;
    &:hover {
      opacity: 1;
    }
    i {
      font-size: 40px;
    }
  }
  .prev {
    left: 0;
    padding-right: 20px;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.32);
  }
  .next {
    right: 0;
    padding-left: 20px;
    text-shadow: -2px 0px 1px rgba(0, 0, 0, 0.32);
  }
}
.carousel .carousel-item {
  background-color: #272727;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .carousel-max-width() {
    @media (min-width: 1400px) {
      background-position: 50% 60%;
    }
    @media (max-width: 1400px) and (min-width: 580px){
      background-position: 50% 5%;
    }
  }
  .carousel-max-width();
  width: 100%;
  .hero-height();
  position: relative;
}
.frontpage-carousel-0 {
  background-image: url('front-hero-3.jpg');
  background-position: 50% 80% !important;
}
.frontpage-carousel-1 {
  background-image: url('front-hero-0.jpg');
}
.frontpage-carousel-2 {
  background-image: url('front-hero-1.jpg');
  background-position: 50% 20% !important;
}
.frontpage-carousel-3 {
  background-image: url('front-hero-2.jpg');
  background-position: 50% 30% !important;
}

.food-carousel-0 {
  background-image: url('food-hero-2.jpg');
  background-position: 50% 70% !important;
}
.food-carousel-1 {
  background-image: url('food-hero-1.jpg');
}
.food-carousel-2 {
  background-image: url('food-hero-0.jpg');
  background-position: 50% 70% !important;
}

.lunch-carousel-0 {
  background-image: url('lunch-hero-0.jpg');
}
.lunch-carousel-1 {
  background-image: url('lunch-hero-1.jpg');
  background-position: 50% 90% !important;
}


.cabinet-carousel-0 {
  background-image: url('cabinet-hero-0.jpg');
}
.cabinet-carousel-1 {
  background-image: url('cabinet-hero-1.jpg');
}
.cabinet-carousel-2 {
  background-image: url('cabinet-hero-2.jpg');
}

.giftcard-carousel-0 {
  background-image: url('giftcard-hero-0.jpg');
}

.wine-tasting-info {
  @media @tablet-and-desktop {
    margin: 80px 0;
  }
  @media @mobile {
   margin: 40px 0;
  }
}

.two-column {
  display: flex;
  @media @mobile {
    flex-wrap: wrap;
  }
  .left {
    flex: 1 1 auto;
  }
  .right {
    margin-left: 100px;
    flex: 0 0 200px;
    @media @mobile {
      margin-left: 0;
    }
  }
}

.dark-section {
  background: @darkBg;
  padding: 40px 0;
  color: @inverseTextColor;
  h1, h2, h3 {
    color: #fafafa;
    margin-top: 0;
  }
}
.instafeed {
  .main-content {
    display: flex;
  }
  .instaheader {
    display: none;
  }
}

.vinkkeli-intro {
  margin-top: 40px;
}

.lightwidget-widget.mobile {
  margin: auto;
  @media @tablet {
    max-width: 700px;
    height: 700px;
  }

  @media @mobile {
    max-width: 500px;
    height: 500px;
  }

  @media (max-width: 430px) {
    height: 360px;
  }

  @media @desktop {
    display: none;
  }
}
.lightwidget-widget.desktop {
  height: 220px;
  @media @mobile-and-tablet {
    display: none;
  }
}

.lunch-info {
  margin-bottom: 80px;
}

@priceListMaxWidth: 700px;
.alacarte {
  max-width: @priceListMaxWidth;
}

.pricelist {
  @pricemargin: 80px;
  @topmargin: 20px;

  ul {
    max-width: @priceListMaxWidth;
  }
  h3 {
    @media @tablet-and-desktop {
      margin-right: @pricemargin;
    }
  }
  h3, h4 {
    margin-top: 40px;
  }
  h2 {
    margin-top: 80px;
  }
  .price {
    float: right;
    margin-left: 15px;
    color: @fadedTextColor;
  }
  em {
    display: block;
    margin-bottom: 40px;
    font-style: italic;
  }

  li {
    margin: 0 0 8px;
    @media @mobile {
      margin-bottom: 15px;
    }
  }
  li p {
    margin: 0;
  }
  ul {
    margin: @topmargin 0 40px;

    @media @mobile {
      margin-bottom: 45px;
    }
  }
}
