@import 'reset.less';
@import 'fonts.less';

@tabletMaxWidth: 979;
@mobileMaxWidth: 750;
@tabletMinWidth: (@mobileMaxWidth + 1);
@desktopMinWidth: (@tabletMaxWidth + 1);
@mobile: ~"(max-width: @{mobileMaxWidth}px)";
@tablet: ~"(min-width: @{tabletMinWidth}px) and (max-width: @{tabletMaxWidth}px)";
@mobile-and-tablet: ~"(max-width: @{tabletMaxWidth}px)";
@tablet-and-desktop: ~"(min-width: @{tabletMinWidth}px)";
@desktop: ~"(min-width: @{desktopMinWidth}px)";
@bodyBackground: #fdfdfd; //eee9e2
@naviBackground: #282828; //#ede9e2;
@footerBackground: #f5f5f5;
@bodyTextColor: #1e1e1e;
@darkRed: #52251f;
@lightRed: #B72E1C;

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: @bodyBackground;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: @bodyTextColor;
}

a, a:hover, a:visited {
  color: @lightRed;
  text-decoration: none;
  transition: color 200ms;
}
a:hover {
  color: @darkRed;
}
h1, h2, h3, h4 {
  font-family: 'Crimson Text', times, serif;
}
h1, h2 {
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #46423D;
}
h1 {
  @media @desktop {
    font-size: 30px;
    max-width: 600px;
    line-height: 44px;
  }
  @media @mobile {
    max-width: 700px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
  @media @tablet {
    line-height: 34px;
    font-size: 28px;
    width: 60%;
  }
}
h2 {
  font-size: 28px;
  line-height: 32px;
   @media @mobile {
    text-align: center;
  }
}
h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
.top-address h4 {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
  margin-top: 40px;
  margin-bottom: 5px;
  &:first-child {
    margin-top: 0;
  }
}
h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
}

#map {
  width: 100%;
  height: 300px;
  border: 2px solid #DEDDDB;
}

.main-wrapper {
  margin-top: 70px;
}


/* Body width */
.footer .content, .main-navigation > div, .main-content{
  @media @desktop {
    width: 970px;
  }

  @media @tablet {
    width: 90%;
  }

  @media @mobile {
    width: 100%;
    padding: 0 20px;
  }
}

.vinkkeli-intro {
  max-width: 700px;
}

.special-links {
  @media @tablet-and-desktop {
    margin-top: 60px;
  }
  a {
    display: block;
    margin: 10px 0;
    background: @footerBackground;
    padding: 10px 20px;
  }
}

hr {
  border: 0;
  background: url('ornamentti.png') no-repeat center center transparent;
  margin: 60px 0;
  height: 50px;
  background-size: contain;
}

.footer {
  font-family: 'Open Sans', sans-serif;
  background: @footerBackground;
  border-top: 1px solid #E2E1DF;
  font-size: 16px;
  margin-top: 80px;

  .hours {
    margin-bottom: 40px;
  }
  .social {
    margin-top: 40px;
    @media @mobile {
      margin-top: 20px;
    }
    a {
      display: inline-block;
      margin: 0 0 10px;
      cursor: pointer;

      &:hover i {
        color: @darkRed;
      }
      i {
        text-align: center;
        color: @bodyTextColor;
        padding: 15px;
        background: #FFF;
        border-radius: 50px;
        display: inline-block;
        font-size: 24px;
        vertical-align: top;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .content {
    margin: auto;
    #map {
      margin-top: 20px;
    }
    @media @tablet-and-desktop {
      padding: 30px 0;
      display: flex;

      .address {
        flex: 1 0 auto;
        margin-left: 40px;
      }
      .info {
        flex: 0 0 300px;
      }
    }

    @media @mobile {
      padding: 15px 0 0 0;
      .info, .address {
        text-align: center;
      }

      .info {
        margin-bottom: 30px;
      }
    }

    .tel-info {
      display: block;
    }
    p {
      margin-top: 0;
      margin-bottom: 0px;
    }
  }
  .address span {
    display: block;
    margin: 5px;
  }
}

.price {
  font-style: italic;
  color: #9E8A68;
  display: inline-block;
}

.food-info {
  ul {
    text-align: center;
  }
  ul strong {
    font-weight: 500;
    width: 340px;
    display: inline-block;
  }
}

.lunch-special {
  max-width: 700px;
}
.lunch-info {
  ul {
    @media @mobile {
      text-align: center;
    }
  }
  ul strong {
    font-weight: 500;
    width: 350px;
    display: inline-block;
  }
  max-width: 700px;
}

.lunch-prices {

  @media @tablet-and-desktop {
    max-width: 220px;
  }

  @media @mobile {
    text-align: center;
  }
}


.lunch, .food, .lunch-prices, .wine-info {
  line-height: 22px;
  margin-top: 60px;
  @topmargin: 20px;
  .price {
    float: right;
    margin-left: 15px;
  }
  em {
    display: block;
    margin-bottom: 40px;
    font-style: italic;
  }
  @media @mobile {
    text-align: center;
  }
  strong {
    font-weight: 500;
  }

  li {
    margin: 0 0 8px;
    @media @mobile {
      margin-bottom: 15px;
    }
  }
  li p {
    margin: 0;
  }
  ul {
    margin: @topmargin 0 40px;

    @media @mobile {
      margin-bottom: 45px;
    }
  }
  h3 {
    margin-top: 40px;
  }
}
.food, .lunch-prices {
  @pricemargin: 80px;
  ul {
    padding-right: @pricemargin;
  }
  h3 {
    margin-right: @pricemargin;
  }
}
.food, .wine-info {
  max-width: 700px;
  h2 {
    margin-top: 80px;
  }
}

.wine-info {
  h3 {
    text-align: center;
    margin-top: 80px;
  }
  h4, h5 {
    text-align: center;
  }
  p {
    margin-bottom: 0;
  }
  ul {
    margin-top: 10px;
  }
  h2 + h3 {
    margin-top: 40px;
  }
  h4 + h5, h3 + h5 {
    margin-top: 20px;
  }
}

.main-navigation {
  font-family: 'Merriweather', times;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 111;
  background: @naviBackground;
  height: 70px;

  > div {
    margin: auto;
    position: relative;
  }
}


.navigation-mobile {
  position: absolute;
  right: 0;
  top: 0;

  @media @tablet-and-desktop {
    display: none;
  }

  &.open {
    > .hamburger {
      opacity: 0;
    }
    .navigation-drawer .hamburger {
      opacity: 1;
    }
    .navigation-drawer {
      right: 0px;
      box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.43);
    }
  }

  .navigation {
    margin-top: 70px;
  }

  .navigation a {
    text-align: right;
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
  }

  .hamburger {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #808080;
    cursor: pointer;
    font-weight: 500;
    transform: rotate(90deg);
    padding: 10px;
    transition: opacity 200ms;
    opacity: 1;
  }

  .navigation-drawer {
    @drawerWidth: 200px;
    width: 0px;
    background: #060606;
    position: fixed;
    top: 00px;
    bottom: 0;
    right: -@drawerWidth;
    width: @drawerWidth;
    z-index: 111111111;
    height: 100%;
    transition: right 200ms;

    .hamburger {
      opacity: 0;
    }

    .languages-mobile  {
      margin-top: 60px;
      text-align: right;
      li {
        display: inline-block;
        a {
          text-transform: uppercase;
          margin-left: 10px;
          padding: 15px;
          color: #808080;
        }
      }
    }
  }
}

.navigation-desktop, .languages-desktop {
  @media @mobile {
    display: none;
  }

  .navigation {
    position: absolute;
    right: 0;
    top: 15px;

    @media (max-width: 1122px) {
      right: 50px;
    }

    li {
      display: inline-block;
      padding: 5px;
      margin: 0 5px;

      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }
    }
  }
}

.navigation a {
  color: #ededed;
  font-size: 17px;
  padding: 4px 0;

  @media @desktop {
    margin: 0 5px;
  }
  transition: color 200ms;
  &:hover {
    color: #d4af6f;
  }
  &.active {
    border-bottom: 4px solid #d4af6f;
    &:hover {
      color: #ededed;
    }
  }
}

.languages {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  @item-height: 42px;
  transition: height 200ms;
  height: @item-height;
  overflow: hidden;

  &.open {
    height: @item-height*3;
    background: @naviBackground;
    .icon-arrow {
    }
  }

  li {
    a {
      font-family: 'Open Sans', sans-serif;
      padding: 5px 10px;
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #ededed;
      text-transform: uppercase;
      transition: color 200ms;
      &:hover {
        color: #d4af6f;
      }
       .icon-arrow {
        display: inline-block;
        cursor: pointer;
        font-size: 6px;
        transform: rotate(180deg);
        margin-left: 10px;
        vertical-align: top;
        margin-top: 12px;
      }
    }

  }
}

.instaheader {
  font-size: 26px;
  margin: 20px 5px;
  a {
    color: @bodyTextColor;
  }
  i {
    margin-right: 10px;
  }
}

.lightwidget-widget.mobile {
  @media @tablet {
    max-width: 700px;
    height: 700px;
  }

  @media @mobile {
    max-width: 500px;
    height: 500px;
  }

  @media (max-width: 430px) {
    height: 360px;
  }

  @media @desktop {
    display: none;
  }
}
.lightwidget-widget.desktop {
  height: 220px;
  @media @mobile-and-tablet {
    display: none;
  }
}


.hero {
  background: url('hero_home.jpg') no-repeat center center #272727;
  background-size: cover;

  .hero-max-width() {
    @media (min-width: 1920px) {
      background-size: 1920px;
    }
    @media (min-width: 1400px) {
      background-position: 50% 10%;
    }
    @media (max-width: 1400px) and (min-width: 580px){
      background-position: 50% 5%;
    }
  }

  .hero-max-width();

  &.hero-lunch {
    background: url('hero_lunch.jpg') no-repeat center center #161616;
    background-size: cover;
    background-position: 50% 60%;
  }

  &.hero-menu {
    background: url('hero_menu.jpg') no-repeat center center #2E1E24;
    background-size: cover;
    background-position: 50% 50%;
  }

   &.hero-wine {
    background: url('hero_wine.jpg') no-repeat center center #121212;
    background-size: cover;
    background-position: 50% 80%;
  }

  &.hero-vinkkeli {
    background: url('hero_vinkkeli.jpg') no-repeat center center #151515;
    background-size: cover;
    background-position: 50% 35%;
  }

  @media @desktop {
    height: 550px;
  }

  @media @tablet {
    height: 450px;
  }

  @media @mobile {
    height: 240px;
    margin-top: 70px;
  }
  width: 100%;
  position: relative;
}

.reserve-table-container {
  position: relative;

  @media @mobile {
    margin-bottom: 40px;
    min-height: 50px;

    .reserve-table-button {
      margin-left: -130px;
      left: 50%;
    }
  }
  @media @tablet-and-desktop {
    .reserve-table-button {
      right: 0;
      top: 0px;
    }
  }

  .reserve-table-button {
    width: 260px;
    position: absolute;
  }

}

a.reserve-table-button {
  padding: 15px;
  width: 150px;
  letter-spacing: 0.4px;
  background-color: @lightRed;
  font-weight: 400;
  color: #fafafa;
  text-align: center;
  transition: background 200ms;
  border-radius: 2px;
  &:hover {
    background: @darkRed;
  }
}
.reserve-table {
  background: @footerBackground;
  position: relative;
  overflow: hidden;
  @media @tablet-and-desktop {
    height: 575px;
    margin-bottom: 20px;
  }
  transition: height 500ms, margin-bottom 500ms;

  @media @mobile {
    margin: 0 -20px 0 -20px;
  }

  &.closed {
    height: 0;
    margin-bottom: 0px;
  }

  .close-reserve-table {
    padding: 5px;
    @media @tablet-and-desktop {
      margin: 20px;
    }
    @media @mobile {
      margin: 20px 10px;
    }

    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 30px;
    color: #988A71;
    transition: color 200ms;
    &:hover {
      color: @bodyTextColor;
    }
  }
  .content {
    > div {
      display: flex;
    }

    @media @tablet-and-desktop {
      padding: 10px 30px 30px 30px;

      h2 {
        margin-top: 20px;
      }
      .tableonline {
        flex: 0 0 auto;
        margin-right: 40px;
        margin-top: -20px;
      }
    }
    @media @mobile {
      padding: 30px 10px;
      > div {
        flex-wrap: wrap;
      }
      .info {
        order: 1;
        padding: 0 10px;
      }
      .tableonline {
        margin-top: 20px;
        order: 2;
        margin-left: -10px;
      }
    }

  }
}
.top-address {
  font-size: 16px;
  @address-bar-height: 80px;


  a.reserve-table-button {
    display: inline-block;
    margin-left: 30px;
  }
  p {
    margin-top: 0;
  }
}

.hours {
  margin-bottom: 20px;

  p {
    margin-bottom: 0px;
  }
  li {
    line-height: 22px;
    @media @mobile {
      width: 200px;
      margin: auto;
      text-align: left;
    }
    strong {
      display: inline-block;
      width: 90px;
    }
  }
  .newday {
    margin-top: 15px;
  }
}

.main-navigation img.logo {
  width: 220px;
  padding: 0;
  margin-top: 19px;
  position: absolute;
  z-index: 11111111;
}
.main-content {
  margin: 40px auto;
}

.two-column {
  display: flex;

  @media @mobile {
    flex-wrap: wrap;
  }

  &.reverse {
    @media @mobile {
      .left-column {
        order: 1;
      }
      .right-column {
        order: 0;
      }
    }
  }
}

.intro-text {
  flex: 1 1 auto;
  padding-right: 20px;
  margin-bottom: 20px;

  @media @mobile {
    order: 2;
    padding-right: 0;
  }
}

.right-column {
  padding: 0 0 20px 0;
  width: 260px;
  flex: 0 0 260px;
  margin-left: 20px;
  @media @mobile {
    padding-top: 0;
    order: 1;
    margin-left: 0px;
    flex: 1 0 auto;
    text-align: center;
  }
}
.photo-credit, .photo-credit a {
  color: #A0A0A0;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
p {
  margin: 20px 0;
}
