<div class="hero"></div>
<div class="main-content">
  {{> reserve-table }}

  <div class="two-column">
    <div>
      <div class="food-info">
        {{translate 'food_info'}}
      </div>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="food">
    {{translate 'alacarte'}}
  </div>
</div>