<div class="hero carousel frontpage-carousel">
  <div class="carousel-item frontpage-carousel-0"></div>
  <div class="carousel-item frontpage-carousel-1"></div>
  <div class="carousel-item frontpage-carousel-2"></div>
  <div class="carousel-item frontpage-carousel-3"></div>
</div>
{{> reserve-table }}
<div class="main-content">
  <div class="two-column">
    <div class="left">
      <h1>{{{translate 'frontpage_header'}}}</h1>
      <p>{{translate 'intro'}}</p>

    </div>
    <div class="right">
      {{> top-address }}
    </div>
  </div>

</div>
{{> instafeed }}
<div class="main-content">
  <div class="vinkkeli-intro">
    <h2>Vinkkeli</h2>
    {{translate 'vinkkeli_page_intro'}}
  </div>
</div>
{{> microdata }}
