<div class="hero carousel giftcard-carousel">
  <div class="carousel-item giftcard-carousel-0"></div>
</div>
<div class="main-content">
  <div class="giftcard-info pricelist">
    {{translate 'giftcard_info'}}
  </div>
</div>
</div>