<div class="instafeed dark-section">
  <div class="main-content">
  <div class="instaheader">
    <a href="https://www.instagram.com/ravintolavinkkeli"><i class="icon-instagram"></i> @ravintolavinkkeli</a>
  </div>
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="https://cdn.lightwidget.com/widgets/fd0cd55146a55899a6db646e7ec240b7.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width:100%;border:0;overflow:hidden;">
  </iframe>
  </div>
</div>