<div>

  <div class="instaheader">
    <a href="https://www.instagram.com/ravintolavinkkeli"><i class="icon-instagram"></i> @ravintolavinkkeli</a>
  </div>
  <iframe 
    src="http://lightwidget.com/widgets/fd0cd55146a55899a6db646e7ec240b7.html" 
    id="lightwidget_fd0cd55146" 
    name="lightwidget_fd0cd55146" 
    scrolling="no" 
    allowtransparency="true" 
    class="lightwidget-widget desktop" 
    style="width: 100%; border: 0; overflow: hidden;">
  </iframe>

  <iframe 
    src="http://lightwidget.com/widgets/00ad6ddad05c56788cb269b3b17abc45.html"
    id="lightwidget_00ad6ddad0"
    name="lightwidget_00ad6ddad0"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget mobile"
    style="width: 100%; border: 0; overflow: hidden;">
  </iframe>
</div>