<div class="hero hero-lunch"></div>
<div class="main-content">
  {{> reserve-table }}  
  <div class="two-column">
    <div>
      <div class="lunch-info">
        {{translate 'lunch_info'}}
      </div>
    </div>
    <div class="right-column">
      
    </div>
  </div>
  
  <div class="lunch">
    {{translate 'lunch'}}
  </div>

  <div class="lunch-prices">
    {{translate 'lunch_prices'}}
  </div>
</div>