<div class="hero carousel cabinet-carousel">
  <div class="carousel-item cabinet-carousel-0"></div>
  <div class="carousel-item cabinet-carousel-1"></div>
  <div class="carousel-item cabinet-carousel-2"></div>
</div>
<div class="main-content">
  <div class="cabinet-info">
    {{translate 'cabinet_info'}}
  </div>

  <div class="wine-tasting-info">
    {{translate 'wine_tasting_info'}}
  </div>
</div>