<div class="reserve-table-container">
  <a href="" class="reserve-table-button">{{translate 'reservetable'}}</a>

  <div class="reserve-table closed">
    <i class="icon-delete close-reserve-table"></i>
    <div class="content">
      <h2>{{translate 'reservetable'}}</h2>
      <div>
        <div class="tableonline">
          <iframe 
            src="{{translate 'tableonline'}}" 
            width="380" height="460" scrolling="yes" frameborder="0" allowtransparency="true">
          </iframe>
        </div>
        <div class="info">
          {{translate 'reserve_info'}}
        </div>
      </div>
    </div>
  </div>
</div>
