<div class="reserve-table-container">
  <a href="" class="reserve-table-button">Varaa pöytä</a>

  <div class="reserve-table closed">
    <i class="icon-cancel-circle close-reserve-table"></i>
    <div class="content">
      <h2>Varaa pöytä</h2>
      <div>
        <div class="tableonline">
          <iframe 
            src="https://v2.tableonline.fi/instabook/bookings/610/yr3faXipsY" 
            width="380" height="460" scrolling="yes" frameborder="0" allowtransparency="true">
          </iframe>
        </div>
        <div class="info">
          <p>Infoa pöytävarauksesta, ryhmien varaukset sähköpostilla <a href="mailto:info@ravintolavinkel.fi">info@ravintolavinkel.fi</a>.</p>
          <h4>Lounas</h4>
          <div class="hours">
              <span>ma-pe</span> 11:30-14:30<br/>
          </div>

          <h4>Illallinen</h4>
          <div class="hours">
              <span>ti-la</span> 17:30-24:00<br/>
          </div>
          <p>Toivomme viimeiset tilaukset klo 22:00 mennessä.</p>
        </div>
      </div>
    </div>
  </div>
</div>
