<div class="reserve-table-container">
  <div class="main-content">
    <a href="https://v2.tableonline.fi/instabook/bookings/6RnuuE7" class="reserve-table-button">{{translate 'reservetable'}}</a>
  </div>
</div>
