<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{assetsPath}}styles/slick.min.js"></script>
<script type="text/javascript">

function track(name) {
  try {
    gtag('event', name)
  } catch(e) {}
}

function openLanguageMenu() {
  var l = document.getElementsByClassName('languages')[0]
  if (l.classList.contains('open')) {
    l.classList.remove('open')
    track('close language menu')
  } else {
    l.classList.add('open')
    track('open language menu')
  }
}

function openNavigationDrawer() {
  var drawer = document.getElementsByClassName('navigation-mobile')[0]
  if (drawer.classList.contains('open')) {
    drawer.classList.remove('open')
    track('close mobile menu')
  } else {
    drawer.classList.add('open')
    track('open mobile menu')
  }
}

$(document).ready(function(){
  $('.carousel').slick({
    dots: true,
    prevArrow: '<div class="prev"><i class="material-icons">keyboard_arrow_left</i></div>',
    nextArrow: '<div class="next"><i class="material-icons">keyboard_arrow_right</i></div>'
  })
})
</script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoidm9ra2ltIiwiYSI6ImNsNzJhbmcyeDAxNmEzbnBoY29vMGtqOTUifQ.9ZZknm5lsHYOgLTvzsU2pw'
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v10',
    center: [24.946187, 60.164181],
    zoom: 14
  })
  
  new mapboxgl.Marker({ color: 'rgb(181,55,45)'})
    .setLngLat([24.946187, 60.164181])
    .addTo(map)
</script>
