<div class="top-address">
  <h4>{{translate 'openingtimes'}}</h4>
  <div class="hours">
    {{translate 'opening_hours'}}
  </div>
  <h4>{{translate 'location'}}</h4>
  <p>{{translate 'address'}}</p>
</div>