<div class="top-address">
  <div class="bg"></div>
  <div class="content">
    <div>
      <span>Pieni Roobertinkatu 8<br/>00130 Helsinki</span>
      <span>Lounas<br/>ma-pe klo 11.30-14.30</span>
      <span>Illallinen<br/>ti-la klo 17.00-24.00</span>
      <a href="" class="reserve-table-button">Varaa pöytä</a>
    </div>
  </div>
</div>