<div class="top-address contact-info">

  <h4>{{translate 'openingtimes'}}</h4>

  {{translate 'opening_hours'}}

  <h4>{{translate 'location'}}</h4>
  <div class="address">{{translate 'address'}}</div>
</div>