<div class="top-address">
  <!--<a href="" class="reserve-table-button">Varaa pöytä</a>-->
  <h4>Aukioloajat</h4>
  <div class="hours">
      <span>ma</span> 11:30-14:30<br/>
      <span>ti-pe</span> 11:30-14:30 ja 17:00-24:00<br/>
      <span>la</span> 17:00-24:00
  </div>
  <h4>Sijainti</h4>
  <p>Pieni Roobertinkatu 8<br/>00130 Helsinki</p>
</div>