<div class="hero hero-wine"></div>
<div class="main-content">
  {{> reserve-table }}
  <div class="two-column">
    <div>
      <div>
        {{translate 'wine_info'}}
      </div>
    </div>
    <div class="right-column">
    </div>
  </div>
</div>